/* The sidepanel menu */
body{
  background-color: #171717;

}
.navPanel{
  background-color: #bbbbbb;
  color: #171717;
  padding: 10px;
  border:none;
  cursor: pointer;

}
.introBox{
  background-color: #bbbbbb;
  padding: 2px;
  border-top-color: #171717;
  border-width: 2px;
  display: block;
}

.dropbtn{
  background-color: #171717;
  padding: 2px;
  border:none;
  cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {

  background-color: #bbbbbb;

}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  font-family: "Courier New";
  background-color: #bbbbbb;
  min-width: 100px;
  z-index: 1;
}
.dropdown-content a{
  color:#131313;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover{
  background-color:#131313;
}
.show{
  display:block;
}

.pixelify-sans-<uniquifier> {
                  font-family: "Pixelify Sans";
                  font-optical-sizing: auto;
                  font-weight: <weight>;
                  font-style: normal;
                }

h1{
  background-color: #bbbbbb;
  font-family: "Pixelify Sans";
  color: #131313;
  font-size: 36px;
}

h2{
  font-family: "Pixelify Sans";
  background-color: #bbbbbb;
  color: #131313;
  font-size: 20px;
  line-height:10px;}

h3{
  font-family: "Pixelify Sans";
  background-color: #bbbbbb;
  color: #131313;
  font-size: 14px;
  line-height:10px;
}
hr.solid{
  border: 1px solid #131313;
}





